.background {
  background-image: url("../style_guide/images/loading-screen-background.png");
  height: 100vh;
  width: auto;
  border: 1px solid red;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.logo__icon {

}

.logo__text {
 
}

.circle-logo {
  width: 600px;
  height: auto;
  position: absolute;
  bottom: 0px;
  right: 0px;
}