/* Fjerne dumme brower indstillinger + at div's bliver større hvis man tilføjer borders og lignende */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* Farve nøgler, globale farver. Dette er smart fordi at vi ville kunne ændre hele hjemmesiden fra f.eks orange til blå bare ved at ændre disse værdier. */
/* Bruges sådan her: background-color: var(--main-background-color); */
:root {
    --main-background-color: #ffffff;
    --secoundary-background-color: var(--primary-color);
    --tertiary-background-color: var(--secoundary-color);
    
    --primary-color: #05454E;
    --secoundary-color: #E5F1F0;
    --tertiary-color: #000000;
    
    --primary-text-color: #000000;
    --secoundary-text-color: #ffffff;
}

/* Døde browsers kompatibilitet *host.. internet explore.. host..*  */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

/* Definere en standard bredde, ændres når vi kender designet */

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

#wrapper {
    width: 100%;
    height: calc(100% - 76px);
    padding: 28px;
    position: relative;
}


button {
    
}

.back-button {
    width: 40px;
    height: 40px;
    background-image: url(../img/icons/back-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid var(--primary-color);
    border-radius: 100px;
}

.back-button:hover {
    background-color: var(--primary-color); 
    background-image: url(../img/icons/back-button-white.svg);
}

input {
    width: 100%;
    height: 65px;
    background-color: var(--tertiary-background-color);
    border: var(--primary-color) 3px solid;
    border-radius: 5px;
    color: var(--primary-text-color);
    padding: 15px;
}

::placeholder {
    color: var(--primary-color);
}

h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 32px;
    color: #00454E;
}

.overlay-dropdown {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.overlay-dropdown__header {
    width: 100%;
    height: 117px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-dropdown__header h1 {
    margin-left: 20px;
}

.overlay-dropdown__module {
    padding: 0px 50px;
}

.dropdown__module--dropped {
    
}

.dropdown__module--dropped input {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.dropdown__module--dropped ul {
    width: 100%;
    height: auto;
    background-color: var(--main-background-color);
    border: 3px solid var(--primary-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: -3px;
}

.dropdown__module--dropped li {
    width: 100%;
    height: 65px;
    border-bottom: 3px solid var(--secoundary-color);
}

.dropdown__module--dropped li a {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

nav {
    width: 100%;
    height: 76px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px -5px 50px 5px rgba(5,69,78,0.23); 
    box-shadow: 0px -5px 50px 5px rgba(5,69,78,0.23);
}

ul {
    height: 76px;
    list-style-type: none;
    display: flex;
}

li {
    width: 50%;
    height: 76px;
}

a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__icon,
.profile__icon {
    width: 35px;
    height: 35px;
    background-image: url(../img/icons/home-unselected.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
}

.profile__icon {
    background-image: url(../img/icons/profile-unselected.svg);
    background-size: 28px
}

.home.home--selected .home__icon,
.home__icon:hover {
    background-image: url(../img/icons/home-selected.svg);
    background-size: 35px
}
.profile.profile--selected .profile__icon,
.profile__icon:hover {
    background-image: url(../img/icons/profile-selected.svg);
}

.find-mig {
    width: 46px;
    height: 62px;
    color: var(--secoundary-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 28px;
    bottom: 28px;
    
}

.find-mig__icon {
    width: 30px;
    height: 41px;
    background-image: url(../img/icons/find-me.svg);
    background-repeat: no-repeat;
;}


.find-mig__text {
    width: 47px;
    height: auto;
    font-size: 12px;
    margin-top: 5px;
}