.login-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-header {
    font-size: 36px;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    margin-bottom: 145px;
}

.wayf-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 22px;
    width: 115px;
    height: 30px;
}

#username {
    margin-bottom: 15px;
}