* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
}

aside {
  width: 20%;
  height: auto;
  background: rgb(39, 39, 39);
  border-right: 5px solid hotpink;
  border-bottom: 5px solid hotpink;
}

main {
  width: 80%;
  height: auto;
  margin: 30px 0px 0px 30px;
}

ul {
  margin: 30px 0px 30px 30px;

}

ul li {
    margin: 20px 0px;
    list-style-type: none;
}

ul li a {
  color: #FFFFFF;
  text-decoration: none;
  transition: .2s;
}

ul li a:hover {
  color: hotpink;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 15px 0px;
}
